<div class="foodlist-container">
  <h2>Available Food Items</h2>

  <table *ngIf="foodItems.length" class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Food Name</th>
        <th>Quantity</th>
        <th>Expiration Date</th>
        <th>Pickup Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodItems">
        <td>{{ food.id }}</td>
        <td>{{ food.food_name }}</td>
        <td>{{ food.quantity }}</td>
        <td>{{ food.expiration_date }}</td>
        <td>
          <button class="pickup-btn" (click)="openPickupModal(food.id)">Pick Up</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Custom Modal -->
<div class="custom-modal" *ngIf="isModalOpen">
  <div class="custom-modal-content">
    <div class="modal-header">
      <h5>Enter Pickup Quantity </h5>
      <button class="close-btn" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <input type="number" id="pickupQuantity" [(ngModel)]="pickupQuantity" name="pickupQuantity" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="confirmPickup()">Confirm</button>
      <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
