<style>
  /* Optional: CSS for styling */
  .logo {
    width: 150px; /* Adjust the size as needed */
    margin: 20px;
  }
  .blank-layout-container {
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Replace with your gradient */
  }
  
</style>

<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/logo3.jpg"
                class="logo" 
                alt="logo"
              />
            </a>
          </div>

         

  

          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Username</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput [(ngModel)]="Username" name="username"/>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" [(ngModel)]="password" name="password" />
            </mat-form-field>

           
            <a (click)="login()"  mat-flat-button color="primary" class="w-100">
              Sign In
            </a>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24"
            >New to app?
            <a
              [routerLink]="['/authentication/register']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Create an account</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
