<style>
  /* Dashboard container with padding to prevent overlap */
  .dashboard-container {
    padding: 20px;
    position: relative;
  }
</style>



<div class="dashboard-container">
  <!-- Button in top-right corner -->
  <h1 class="main-header">Admin Statistics</h1>
  <mat-card class="impact-chart">
    <mat-card-title>Types of accounts</mat-card-title>
    <apx-chart [series]="userChart.series"
               [chart]="userChart.chart"
               [labels]="userChart.labels">
    </apx-chart>
  </mat-card>

  <div id="chart">
    <h1 class="second-chart-header">Food Items expiring in next 10 days</h1>
    <apx-chart [series]="chartOptions.series ?? []"
               [chart]="chartOptions.chart  ?? {
        type: 'donut',
        height: 160,
        toolbar: { show: false },
      }"
               [dataLabels]="chartOptions.dataLabels  ?? {}"
               [plotOptions]="chartOptions.plotOptions ?? {}"
               [yaxis]="chartOptions.yaxis  ?? []"
               [xaxis]="chartOptions.xaxis ?? {}"
               [fill]="chartOptions.fill ?? {}"
               [title]="chartOptions.title ?? {}"></apx-chart>
  </div>
  <div class="user-div">
    <div class="user-list rest-list">
    <ul>
      <li *ngFor="let user of restaurants">
        {{ user.UserName }} - {{ user.Email }}
      </li>
    </ul>

    </div>
    <div class="user-list cust-list">
    <ul>
      <li *ngFor="let user of users">
        {{ user.UserName }} - {{ user.Email }}
      </li>
    </ul>

    </div>
  </div>
</div>
