<div class="add-food-item">
  <h1>Add New Food Item</h1>
  <button class="home-btn" [routerLink]="['/restaurant-home']">🏠 Home</button>


  <form (submit)="onSubmit()">
    <label for="name">Food Name</label>
    <input id="name" [(ngModel)]="foodItem.name" name="name" required />

    <label for="quantity">Quantity</label>
    <input id="quantity" type="number" [(ngModel)]="foodItem.quantity" name="quantity" required />

    <label for="expiry">Expiration Date</label>
    <input id="expiry" type="date" [(ngModel)]="foodItem.expiry" name="expiry" required />

    <div class="button-group">
      <button class="add-btn" type="submit" (click)="addFoodItem()">Add Food Item</button>
      <button class="back-btn" routerLink="/restaurant-home">Back</button>
    </div>
  </form>
</div>
