.edit-food-item {
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-top: 10px;
      }
  
      input, select {
        padding: 8px;
        margin-bottom: 10px;
      }
  
      button {
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }
  