<div class="restaurant-home">
  <h1>Welcome to Your Food Listings</h1>

  <div class="actions">
    <button class="add-food-btn" routerLink="/add-food-item">+ Add Food Item</button>
    <button class="add-food-btn" style="margin-left:20px" routerLink="/orderlist">View Orders</button>
  </div>
 

  <ul>
    <li *ngFor="let item of foodItems">
      <div>
        <h2>{{ item.food_name }}</h2>
        <p>Quantity: {{ item.Quantity }}</p>
        <p>Expiry: {{ item.expiration_date }}</p>
      </div>
      <div class="button-group">
        <button class="edit" routerLink="/edit-food-item/{{item.id}}">Edit</button>
        <button class="delete" (click)="onDelete(item)">Delete</button>
      </div>
    </li>
  </ul>
</div>
