<!-- restaurant-home.component.html -->
<div class="restaurant-home">
  <h1>Welcome to Your Food Listings</h1>

  <div class="actions">
    <button routerLink="/add-food-item">+ Add New Food Item</button>
    <input type="text" placeholder="Search Food Items" [(ngModel)]="searchQuery" (input)="onSearch()">
  </div>

  <ul>
    <li *ngFor="let item of filteredFoodItems">
      <div>
        <h2>{{ item.food_name }}</h2>
        <p>Quantity: {{ item.Quantity }}</p>
        <p>Expiry: {{ item.expiration_date }}</p>
        <p>Status: Nearly Expiry</p>
      </div>
      <button routerLink="/edit-food-item/{{item.name}}">Edit</button>
      <button (click)="onDelete(item)">Delete</button>
    </li>
  </ul>
</div>
